.select {
    display: flex;
    position: relative;
    cursor: pointer;
    box-shadow: 1.5px 2.6px 7px rgb(0 0 0 / 2%);
    background-color: #fff;
    border-radius: 3px;
    border-top-left-radius: 0 !important;
}

.select .selectTitle {
    padding: 8px 15px 8px 0;
    transition: 1s color ease;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #333;
}

.select .selectTitle:hover {
    color: rgb(95, 109, 146);
}

.select .selectTitle:hover + .dropdownMenu,
.select .dropdownMenu:hover{
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1);
    display: block;
}

.select .dropdownMenu {
    display: none;
    opacity: 0;
    transform: translateY(-20px) scale(.93);
    visibility: hidden;
    top: 28px;
    left: -10px;
    width: max-content;
    z-index: 1;
    position: absolute;
    box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
    transition: .1s all ease-in;
}

.select .dropdownMenu .item {
    padding: 10px;
    transition: .5s all ease-in;
    display: block;
    background-color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #333;
}

.select .dropdownMenu .item:hover {
    background-color: #f5f5f5;
    color: #5f6d92 ;
}