.pagination {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.pagination .item {
    transition: 1s all ease;
    padding: 8px;
    margin: 0 3px;
    width: 45px;
    height: 43px;
    font-weight: bold;
    border: 1px solid #EBEBEB;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .item:hover {
    color: #fff;
    background-color: #5f6d92;
}

.pagination .itemCurrent {
    cursor: auto;
    color: #fff;
    background-color: #5f6d92;
}