@media (max-width: 1240px) {
    .row {
        width: 960px !important;
    }

    .checkout_container .checkout_content .checkout-block {
        .form-block {
            padding-right: 10px;
            width: 60%;
        }

        .basket-info {
            width: 40%;
        }
    }

    .shop_container .sidebar {
        width: 28%;
    }

    .simple-slider .slider-item {
        height: 380px !important;
    }

    .category .slick-slider {
        .category-card {
            height: 290px;
        }

        .slick-arrow {
            background-color: rgba(255, 255, 255, 0.5);
            width: 50px;
            height: 50px;
        }
    }

    .discounts {
        height: 380px;
    }

    .catalog {
        margin-top: 20px;

        .slick-slider {
            padding: 0;

            .slick-arrow {
                width: 55px;
                height: 55px;
            }
        }
    }

    .shop_container .products-block .products .card {
        &::before {
            height: 140%;
        }

        &.shortBefore {
            &::before {
                height: 132%;
            }
        }
    }

    .card {
        &:not(.shop_container .products-block .products .card) {
            &::before {
                height: 134%;
            }

            &.shortBefore {
                &::before {
                    height: 130%;
                }

                .hidden-block {
                    top: 370px;
                }
            }

            &:hover>.hidden-block {
                padding: 0 0 4px 0;
            }

            .visible-block .img__wrapper {
                height: 250px;
            }

            .hidden-block {
                top: 360px;
            }
        }

        .modifications-choose-line {
            .product-mdf-item {
                margin-right: 6px !important;
                width: 43px !important;
                height: 43px !important;

                &::after {
                    width: 16px;
                    height: 16px;
                }
            }

            .product-mdf-color__block {
                width: 30px !important;
                height: 30px !important;
            }

            .product-mdf-txt {
                min-width: auto !important;
                padding: 3px !important;
                height: auto !important;
            }
        }
    }

    .blog .card__wrapper .card-blog {
        max-width: 30%;
    }
}



@media (max-width: 1080px) {
    .row {
        width: 900px !important;
    }

    .basket_container .basket_content .basket-items {
        .price {
            display: none;
        }

        .value {
            width: 20% !important;
        }

        .count-block {
            width: 15% !important;
        }

        .basket-header .count {
            width: 15% !important;
        }
    }

    .header-wrapepr .header-content .auth {
        font-size: 0;
    }

    .sidebar .filter-block .filter-section .filter-modification-fields .entry-field {
        font-size: 80%;
    }

    .simple-slider .slider-item {
        height: 340px !important;

        .slider-item__bcg .slider-info {
            .head-title {
                font-size: 36px;
                margin-bottom: 18px;
            }

            .title {
                max-width: 358px;
            }

            button {
                margin-top: 12px;
            }
        }
    }

    .discounts {
        height: 340px;

        .discounts__bcg .discounts-info .title {
            font-size: 40px;
        }
    }

    .catalog {
        .slick-slider {
            padding: 0 5px;

            .slick-list .slick-slide {
                padding: 25px 7px;
            }

            .slick-arrow {
                width: 50px;
                height: 50px;
            }
        }
    }

    .shop_container .products-block .products .card {
        min-height: auto;

        &.shortBefore {
            &::before {
                height: 143%;
            }

            .hidden-block {
                top: 380px;
            }
        }

        &::before {
            height: 150%;
        }

        .visible-block .img__wrapper {
            height: 250px;
        }

        .hidden-block {
            top: 360px;

            .modifications-choose-line .product-mdf-txt {
                min-height: 30px !important;
            }

            .modifications-choose-line .product-mdf-img__wrapper {
                width: 40px !important;
                height: 40px !important;
            }
        }
    }

    .card:not(.shop_container .products-block .products .card) {
        margin: 0;

        &.shortBefore {
            .hidden-block {
                top: 340px;
            }
        }

        &::before {
            height: 122% !important;
        }

        .hidden-block {
            top: 315px;
        }

        .visible-block {
            .img__wrapper {
                height: 215px;
            }

            .card-title {
                font-size: 14px;
            }

            .card-promotional-price,
            .card-price {
                padding: 10px 0;
                font-size: 14px;

                span {
                    font-size: 14px;
                }
            }
        }
    }
}



@media (max-width: 960px) {
    .row {
        width: 750px !important;
    }

    .complete_container .complete_content .order-details-block {
        flex-wrap: wrap;

        .order-details-info,
        .order-products-list {
            width: 100%;
        }

        .order-products-list .products-list {
            max-height: none;
            overflow-y: initial;

            .item .image img {
                max-width: 60%;
            }
        }
    }

    .checkout_container .checkout_content .checkout-block {
        flex-wrap: wrap;

        .form-block form .have-promocode {
            display: inline-block;
        }

        .form-block {
            width: 100% !important;
        }

        .basket-info-panel {
            display: block;
        }

        .basket-info {
            display: none;
        }
    }

    .buyers .card__wrapper {
        flex-wrap: wrap;

        .card-buyers {
            max-width: 60%;
        }
    }

    .product_container .product_content .product-info {
        flex-wrap: wrap;

        .product-images {
            width: 90%;
            position: initial;
        }

        .product-details {
            width: 100%;
            margin: 40px 12px 0;
        }
    }

    .shop_container .products-block {
        .header .header-block .sort-filter .filter-menu {
            display: block;
        }

        .products .card::before {
            height: 151%;
        }
    }

    .shop_container {
        .sidebar {
            display: none;
        }

        .products-block {
            width: 100%;
        }
    }

    .sidebar-window.filter {
        display: block !important;
    }



    .simple-slider .slider-item {
        background-size: cover;
    }

    .navMenu {
        display: flex !important;
    }

    .header-wrapepr .header-content .auth {
        font-size: 14px;
    }

    .header-wrapepr .header-content .search-container,
    nav {
        display: none !important;
    }

    .search-header {
        border: 1px solid #eaeaea;
        padding: 7px 0;
        display: flex !important;
        justify-content: center;

        &>div {
            width: 80%;

            .searchMenu {
                width: 100%;
                max-height: 63vh;
            }
        }
    }

    .category .slick-slider .category-card {
        height: 325px;
    }

    .card:not(.shop_container .products-block .products .card) .visible-block .img__wrapper {
        padding: 10px 0;
    }

    .blog .card__wrapper {
        flex-wrap: wrap;

        .card-blog {
            max-width: 45%;
        }
    }
}



@media (max-width: 800px) {
    .row {
        width: 480px !important;
    }

    .checkout_container .checkout_content .checkout-block .form-block form {

        .payment-field,
        .field,
        button {
            width: 100%;
        }
    }

    .basket_container .basket_content .basket-items {
        .basket-header {

            .value,
            .count {
                display: none;
            }
        }

        .item {
            flex-wrap: wrap;

            .image {
                width: 35%;
            }

            .name-block {
                width: 65%;
            }

            .value,
            .count-block {
                width: 100% !important;
            }

            .value {
                margin: 10px 0;
                text-align: right;
            }

            .count-block .count {
                margin: 0;
                margin-left: auto !important;
            }
        }

        .total-all,
        .full-checkout {
            margin-left: 0;

            button {
                width: 100%;
            }
        }
    }

    .contacts .contacts-content {
        flex-wrap: wrap;

        &>div {
            width: 95% !important;
        }
    }

    .buyers .card__wrapper .card-buyers {
        max-width: 90%;
    }

    .shop_container.row {
        width: 500px !important;
    }

    .product_content.row {
        width: 540px !important;
    }

    .product_container .product_content .product-info .product-images {
        width: 100%;
        justify-content: center;

        .image-slider {
            width: 95%;
        }

        & .gallery,
        & .gallery-slider {
            display: none;
        }
    }

    .shop_container .products-block .products .card {
        width: 50%;

        .hidden-block .modifications-choose-line {
            .product-mdf-img__wrapper {
                width: 46px !important;
                height: 46px !important;
            }

            .product-mdf-txt {
                width: 46px !important;
            }
        }
    }

    .header-wrapepr .header-content {
        flex-wrap: wrap;

        .auth {
            font-size: 0;

            &::before {
                width: 20px;
                height: 20px;
            }
        }

        .logo,
        .navMenu {
            width: 70%;
        }

        &>div {
            order: 1;
            margin-top: 10px;
        }
    }

    .navMenu {
        justify-content: flex-start !important;
    }

    .search-header>div {
        width: 60%;
    }

    .slider-info.row {
        width: 90% !important;
    }

    .simple-slider .slider-item {
        height: 300px !important;

        .slider-item__bcg .slider-info {
            .head-title {
                font-size: 30px;
                margin-bottom: 6px;
            }

            .title {
                font-size: 15px;
            }

            button {
                font-size: 14px;
                padding: 8px 18px;
            }
        }
    }

    .category .slick-slider {
        .slick-arrow {
            width: 60px;
            height: 60px;
        }

        .category-card {
            height: 400px;
        }
    }

    .discounts {
        height: 500px;
    }

    .blog .card__wrapper {
        justify-content: center;

        .card-blog {
            max-width: 80%;
        }
    }

    .catalog .slick-slider .slick-arrow {
        background-color: rgba(255, 255, 255, 0.5);
    }
}



@media (max-width: 580px) {
    .product_content.row {
        width: 467px !important;
    }

    .product_container .product_content .product-info .product-details {
        margin: 20px 12px 0;
    }
}



@media (max-width: 500px) {

    .row,
    .product_content.row {
        width: 90% !important;
    }
    .checkout_container .checkout_content .checkout-block .form-block .new-existing-block .socials-btn-login {
        display: flex;
        align-items: center;

        .facebook {
            margin-left: 0;
        }

        .google {
            margin-left: 8px;
        }
    } 
    .sidebar-window.basket .content__wrapper .content {
        .card-items {
            height: calc(100% - 280px);
        }

        .basket-btn-block .checkout-options {
            display: flex;
            flex-direction: column;

            button {
                width: 100% !important;
            }

            .express-checkout {
                margin: 6px 0 0;
            }
        }
    }

    .complete_container .complete_content .order-details-block {
        .order-products-list .products-list .item .image img {
            max-width: 80%;
        }

        .order-details-info .order-info .info-block {
            width: 100%;
        }
    }

    .product_container .product_content .product-info {
        .product-images {
            margin: auto;

            .image-slider .slick-list .slick-slide div img {
                max-height: 450px;
            }
        }

        .product-details {
            .characteristics-block .characteristic {
                flex-wrap: wrap;

                &>div {
                    width: 100% !important;
                    font-size: 16px !important;
                }

                .body {
                    margin-left: 0;
                }
            }

            .product-buy-block {
                button {
                    width: 80%;
                }
            }
        }
    }

    .shop_container.row {
        width: 95% !important;
    }

    .shop_container .products-block {
        .header .header-block {
            flex-wrap: wrap;

            .sort-filter {
                margin-top: 12px;
            }
        }

        .products .card {
            width: 100%;
        }
    }

    .sidebar-window.basket .no-items svg {
        width: 80%;
        display: inline-block;
    }

    .search-header {
        &>div {
            width: 95%;

            .searchMenu {
                max-height: 310px;
            }
        }
    }

    .sidebar-window,
    .sidebar-nav,
    .sidebar-nav .sidebar-wrapper .sidebar-content {
        width: 280px !important;
    }

    .sidebar-nav .sidebar-wrapper {
        width: 560px;
    }

    .sidebar-nav .sidebar-wrapper.submenu-open {
        transform: translateX(-280px) !important;
    }

    .app.open {
        transform: translateX(280px) !important;
    }

    .discounts {
        height: 450px;
    }

    .catalog .slick-slider .slick-list .slick-slide {
        padding: 25px 15px;
    }

    .shop_container .products-block .products .card {
        &::before {
            height: 156%;
        }

        &.shortBefore::before {
            height: 147%;
        }

        .hidden-block .modifications-choose-line {
            .product-mdf-item {
                margin-right: 9px !important;
            }

            .product-mdf-img__wrapper {
                width: 52px !important;
                height: 52px !important;
            }

            .product-mdf-txt {
                width: 52px !important;
            }
        }
    }

    .card:not(.shop_container .products-block .products .card).shortBefore {
        &::before {
            height: 130% !important;
        }

        .hidden-block {
            top: 375px;
        }
    }

    .card:not(.shop_container .products-block .products .card) {
        &::before {
            height: 130% !important;
        }

        .hidden-block {
            top: 345px;

            .modifications-choose-line {
                .product-mdf-item {
                    width: 47px;
                    height: 47px;
                    margin-right: 10px;

                    &::after {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }

        .visible-block {
            .img__wrapper {
                height: 250px;
            }

            .card-title {
                font-size: 16px;
            }
        }
    }
}



@media (max-width: 400px) {
    .checkout_container .checkout_content .checkout-block .basket-info-panel .info-content .subtitle {
        display: none;
    }

    .simple-slider .slider-item .slider-item__bcg .slider-info .title {
        font-size: 14px;
        max-width: 265px;
    }

    .product_container .product_content .product-info .product-details {
        margin: 0 12px;
    }

    .category .slick-slider {
        .slick-arrow {
            width: 50px;
            height: 50px;
        }

        .category-card {
            height: 300px;
        }
    }

    .catalog .slick-slider {
        .slick-next {
            right: 13px;
        }

        .slick-prev {
            left: 13px;
        }
    }

    .discounts {
        height: 420px;

        .discounts__bcg .discounts-info {
            .title {
                font-size: 36px;
            }

            button {
                font-size: 15px;
                padding: 10px 20px;
            }
        }
    }
}



@media (max-width: 372px) {
    .category .slick-slider .category-card {
        height: 250px;
    }

    .card:not(.shop_container .products-block .products .card) {
        &::before {
            height: 117% !important;
        }

        .hidden-block {
            top: 300px;

            .modifications-choose-line {
                .product-mdf-item {
                    width: 42px;
                    height: 42px;
                    margin-right: 7px;

                    &::after {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }

        .visible-block {
            .img__wrapper {
                height: 220px;
            }

            .card-title {
                font-size: 14px;
                padding: 10px 7px;
            }

            .card-promotional-price,
            .card-price {
                padding: 8px 0;
                font-size: 13px;
            }

            .card-promotional-price span {
                font-size: 12px;
            }
        }
    }

    .card:not(.shop_container .products-block .products .card).shortBefore {
        &::before {
            height: 118% !important;
        }

        .hidden-block {
            top: 335px;
        }
    }
}



@media (max-width: 340px) {

    .sidebar-nav,
    .sidebar-nav .sidebar-wrapper .sidebar-content {
        width: 240px !important;
    }

    .sidebar-nav .sidebar-wrapper {
        width: 480px;
    }

    .sidebar-nav .sidebar-wrapper.submenu-open {
        transform: translateX(-240px) !important;
    }

    .app.open {
        transform: translateX(240px) !important;
    }

    .card:not(.shop_container .products-block .products .card) {
        .hidden-block {
            .modifications-choose-line {
                .product-mdf-item {
                    width: 40px;
                    height: 40px;
                    margin-right: 5px;
                }

                .product-mdf-txt {
                    padding: 0;
                }
            }
        }
    }

    .shop_container .products-block .products .card {
        .hidden-block {
            .modifications-choose-line {
                .product-mdf-img__wrapper {
                    width: 46px !important;
                    height: 46px !important;
                    margin-right: 7px !important;
                }

                .product-mdf-txt {
                    width: 46px !important;
                    margin-right: 7px !important;
                }
            }
        }
    }
}


@media (max-width: 300px) {
    .category .slick-slider .category-card {
        height: 210px;
    }

    .sidebar-window,
    .sidebar-nav,
    .sidebar-nav .sidebar-wrapper .sidebar-content {
        width: 220px !important;
    }

    .sidebar-nav .sidebar-wrapper {
        width: 440px;
    }

    .sidebar-nav .sidebar-wrapper.submenu-open {
        transform: translateX(-220px) !important;
    }

    .app.open {
        transform: translateX(220px) !important;
    }

    .discounts .discounts__bcg .discounts-info .title {
        font-size: 32px;
    }

    .card:not(.shop_container .products-block .products .card),
    .card:not(.shop_container .products-block .products .card).shortBefore {
        &::before {
            height: 128% !important;
        }
    }

    .sidebar-window .content__wrapper .content form {
        .logins-methods div {
            font-size: 0;
        }

        .field {
            padding: 5px 0;
        }
    }
}



@media (max-width: 280px) {
    .simple-slider .slider-item {
        height: 250px !important;

        .slider-item__bcg .slider-info {
            .head-title {
                font-size: 27px;
            }

            .title {
                display: none;
            }
        }
    }
}