.blog {
    align-self: center;
    flex-direction: column;

    .title {
        text-align: center;
        margin: 15px 0 30px;
        font-size: 30px;
    }

    .card__wrapper {
        display: flex;

        .card-blog {
            margin: 0 15px 30px;
            max-width: 31%;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            transition: 1s all ease;
            user-select: none;

            .card-name {
                padding: 0 25px;
                margin: 20px 0 10px;
                font-size: 18px;
                font-weight: normal;
                line-height: 150%;
            }

            .card-description {
                padding: 0 25px;
                font-size: 13px;
                color: #64727a;
                line-height: 150%;
            }

            .btn-block {
                width: 60%;
                margin: 20px 0;
                padding: 0 25px;
                font-size: 12px;
                text-transform: uppercase;
                color: #5f6d92;
                font-weight: 700;
                line-height: 150%;

                span {
                    float: right;
                    font-size: 23px;
                    padding-right: 10px;
                    margin-top: -3px;
                    transition: 1s all ease;
                }
            }

            &:hover {
                transform: translateY(-3px);
                cursor: pointer;

                & .btn-block span {
                    padding-right: 0;
                }
            }
        }
    }
}