.shop_container {
    align-self: center;
    margin-bottom: 50px;
    
    .products-block {
        width: 76%;
        margin: 0 12px;

        .header {
            display: flex;
            flex-direction: column;

            .header-block {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0;

                .title {
                    font-size: 35px;
                    margin: 0 10px;
                }

                .sort-filter {
                    display: flex;

                    &>span {
                        padding: 5px 10px;
                        font-size: 15px;
                    }

                    .filter-menu {
                        display: none;
                        width: 25px;
                        height: 25px;
                        cursor: pointer;
                        margin-left: 20px;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-image: url("../assets/filter.svg");
                    }
                }
            }

            .selected-filter {
                width: 100%;
                margin: 0 10px 15px;

                .reset-filter {
                    padding: 5px 10px !important;

                    &:hover {
                        background-color: #ccc !important;
                    }
                }

                .filter {
                    cursor: pointer;
                    display: inline-block;
                    width: fit-content;
                    max-width: 90%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    position: relative;
                    font-size: 15px;
                    margin: 4px 8px 4px 0;
                    padding: 5px 28px 5px 10px;
                    border: 1px solid #ccc;
                    border-radius: 15px;
                    transition: .15s all ease-in;

                    i {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 17px;
                        height: 17px;
                        margin: 5px;
                        text-align: center;
                        border-radius: 50%;
                        display: inline-block;
                        border: 1px solid transparent;
                        transition: .15s all ease-in;

                        &::before,
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            background-color: #000;
                            width: 1px;
                            height: 11px;
                            top: 2px;
                            left: 7px;
                        }

                        &::before {
                            transform: rotate(45deg);
                        }

                        &::after {
                            transform: rotate(-45deg);
                        }
                    }

                    &:hover {
                        background-color: #ebebeb;

                        i {
                            background-color: #ccc;
                        }
                    }
                }
            }
        }

        .products {
            display: flex;
            flex-wrap: wrap;

            .card {
                width: 33%;
                padding: 0 7px;
            }
        }
    }
}