.simple-slider button.slick-arrow {
  display: none !important;
}
.simple-slider .slider-item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: 450px;
}
.simple-slider .slider-item .slider-item__bcg {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  position: relative;
}
.simple-slider .slider-item .slider-item__bcg .slider-info {
  display: flex;
  flex-direction: column;
  width: 418px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
}
.simple-slider .slider-item .slider-item__bcg .slider-info .head-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 24px;
}
.simple-slider .slider-item .slider-item__bcg .slider-info .title {
  color: #fff;
  line-height: 25px;
}
.simple-slider .slick-dots {
  bottom: 30px !important;
}
.simple-slider .slick-dots li {
  margin: 0 3px;
}
.simple-slider .slick-dots li.slick-active button:before {
  background-color: #fff;
  opacity: 1 !important;
}
.simple-slider .slick-dots li button:before {
  width: 10px !important;
  height: 10px !important;
  color: transparent !important;
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5 !important;
}
.simple-slider .slick-dots li button:hover:before {
  opacity: 1 !important;
}

.category {
  align-self: center;
  margin: 50px 0;
  flex-direction: column;
}
.category .title {
  font-size: 30px;
  text-align: center;
  margin: 30px 0;
}
.category .slick-slider .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.5s ease-out;
  background-color: #fff;
}
.category .slick-slider .slick-arrow::before {
  content: "";
  display: block;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../assets/category_slider/slider_btn.svg");
}
.category .slick-slider .slick-arrow:hover {
  background-color: #cccccc;
}
.category .slick-slider .slick-prev {
  left: 25px;
}
.category .slick-slider .slick-prev::before {
  transform: rotate(180deg);
}
.category .slick-slider .slick-next {
  right: 22px;
}
.category .slick-slider .slick-slide > div {
  margin: 0 20px;
}
.category .slick-slider .category-card {
  height: 350px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}
.category .slick-slider .category-card .card-title {
  padding: 25px 55px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  transition: all 1s ease;
}
.category .slick-slider .category-card .card-img {
  position: absolute;
  width: 100%;
  background-size: 100%;
  margin-top: 50px;
  transition: all 0.85s ease;
}
.category .slick-slider .category-card:hover > .card-title {
  opacity: 0;
}
.category .slick-slider .category-card:hover > .card-img {
  margin-top: -30px;
}

.discounts {
  height: 430px;
  margin: 30px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../assets/discounts/accessories.jpg");
}
.discounts .discounts__bcg {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discounts .discounts__bcg .discounts-info {
  text-align: center;
}
.discounts .discounts__bcg .discounts-info .title {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
}

.catalog {
  margin-top: 50px;
  align-self: center;
  flex-direction: column;
  padding: 0 20px;
}
.catalog .title {
  font-size: 30px;
  text-align: center;
  margin: 30px 0;
}
.catalog .slick-slider {
  overflow-x: clip;
}
.catalog .slick-slider .slick-list {
  overflow: initial;
  z-index: 1;
}
.catalog .slick-slider .slick-list .slick-slide {
  padding: 25px 15px;
}
.catalog .slick-slider .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.5s ease-out;
  background-color: #fff;
}
.catalog .slick-slider .slick-arrow::before {
  content: "";
  display: block;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../assets/category_slider/slider_btn.svg");
}
.catalog .slick-slider .slick-arrow:hover {
  background-color: #cccccc;
}
.catalog .slick-slider .slick-prev {
  left: 25px;
}
.catalog .slick-slider .slick-prev::before {
  transform: rotate(180deg);
}
.catalog .slick-slider .slick-next {
  right: 22px;
}

.card {
  min-height: 385px;
  margin: 0 10px 30px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: inherit;
}
.card::before {
  content: "";
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.card.shortBefore:hover::before {
  height: 120%;
}
.card:hover {
  z-index: 999;
}
.card:hover::before {
  display: block;
  width: 112%;
  height: 144%;
  top: -10px;
}
.card:hover .visible-block .img__wrapper .card-img.only {
  transform: scale(1.025);
}
.card:hover > .hidden-block {
  visibility: visible;
  padding: 0 10px;
}
.card:hover .main-img {
  opacity: 0 !important;
}
.card:hover .additional-img {
  opacity: 1 !important;
}
.card .visible-block {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: inherit;
}
.card .visible-block .img__wrapper {
  position: relative;
  width: 100%;
  height: 292px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .visible-block .img__wrapper .card-img {
  cursor: pointer;
  width: 82%;
  transition: 0.25s opacity ease-in;
}
.card .visible-block .img__wrapper .card-img.main-img {
  opacity: 1;
}
.card .visible-block .img__wrapper .card-img.additional-img {
  opacity: 0;
  position: absolute;
}
.card .visible-block .card-title {
  text-align: center;
  padding: 15px 7px;
  font-size: 15px;
}
.card .visible-block .card-price {
  padding: 15px 0;
  font-weight: bold;
}
.card .visible-block .card-promotional-price {
  padding: 15px 0;
  font-size: 16px;
  font-weight: bold;
}
.card .visible-block .card-promotional-price span {
  color: #ACACAC;
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 100;
  margin-right: 12px;
}
.card .hidden-block {
  position: absolute;
  top: 392px;
  visibility: hidden;
  padding-bottom: 4px !important;
  width: 100%;
}
.card .hidden-block .modifications-choose-line {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.card .hidden-block .modifications-choose-line .product-mdf-color__block {
  width: 30px;
  height: 30px;
}
.card .hidden-block .modifications-choose-line .product-mdf-img__wrapper {
  width: 50px;
  height: 50px;
}
.card .hidden-block .modifications-choose-line .product-mdf-img__wrapper .product-mdf-img {
  max-height: 100%;
  max-width: 100%;
  padding: 2px;
}
.card .hidden-block .modifications-choose-line .product-mdf-txt {
  height: 30px;
  min-width: 50px;
  font-size: 11px;
  text-overflow: ellipsis;
  padding: 7px;
}
.card .hidden-block .modifications-choose-line .product-mdf-item {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid #666;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: unset;
}
.card .hidden-block .modifications-choose-line .product-mdf-item::after {
  content: "";
  display: none;
  width: 18px;
  height: 18px;
  background-size: 8px;
  right: -8px;
  top: -8px;
  background-color: #5f6d92;
  background-image: url("../assets/check-marks.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  position: absolute;
  border: 1px solid #fff;
}
.card .hidden-block .modifications-choose-line .product-mdf-item:hover, .card .hidden-block .modifications-choose-line .product-mdf-item.product-mdf-item-current {
  border-color: transparent;
  outline: 2px solid #5f6d92;
  border-radius: 0;
}
.card .hidden-block .modifications-choose-line .product-mdf-item.product-mdf-item-current::after {
  display: block;
}
.card .product-buy-block button {
  margin: 6px 0 !important;
  width: 100%;
  background-color: #5f6d92;
  color: #fff;
  transition: 0s !important;
}

.blog {
  align-self: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.blog .title {
  text-align: center;
  margin: 15px 0 30px;
  font-size: 30px;
}
.blog .card__wrapper {
  display: flex;
}
.blog .card__wrapper .card-blog {
  margin: 0 15px 30px;
  max-width: 31%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: 1s all ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.blog .card__wrapper .card-blog .card-name {
  padding: 0 25px;
  margin: 20px 0 10px;
  font-size: 18px;
  font-weight: normal;
  line-height: 150%;
}
.blog .card__wrapper .card-blog .card-description {
  padding: 0 25px;
  font-size: 13px;
  color: #64727a;
  line-height: 150%;
}
.blog .card__wrapper .card-blog .btn-block {
  width: 60%;
  margin: 20px 0;
  padding: 0 25px;
  font-size: 12px;
  text-transform: uppercase;
  color: #5f6d92;
  font-weight: 700;
  line-height: 150%;
}
.blog .card__wrapper .card-blog .btn-block span {
  float: right;
  font-size: 23px;
  padding-right: 10px;
  margin-top: -3px;
  transition: 1s all ease;
}
.blog .card__wrapper .card-blog:hover {
  transform: translateY(-3px);
  cursor: pointer;
}
.blog .card__wrapper .card-blog:hover .btn-block span {
  padding-right: 0;
}

.shop_container {
  align-self: center;
  margin-bottom: 50px;
}
.shop_container .sidebar {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 24%;
  margin: 80px 12px 15px;
  padding: 15px;
}
.shop_container .sidebar .category-block {
  display: flex;
  flex-direction: column;
}
.shop_container .sidebar .category-block a {
  text-decoration: none;
  padding: 5px 10px;
  color: #333;
}
.shop_container .sidebar .filter-block {
  margin: 10px 10px 0;
}
.shop_container .sidebar .filter-block > .title {
  padding: 15px 0;
  font-size: 18px;
  border-bottom: 1px solid #ebebeb;
}
.shop_container .sidebar .filter-block .filter-section .filter-title {
  padding: 15px 0;
  cursor: pointer;
  font-weight: normal;
  border-bottom: 0 solid #ebebeb;
  transition: 0.5s all ease-in-out;
}
.shop_container .sidebar .filter-block .filter-section .filter-title:hover .arrow {
  opacity: 0.6;
}
.shop_container .sidebar .filter-block .filter-section .filter-title .arrow {
  opacity: 0.25;
  margin: 3px 2px;
  float: right;
  width: 13px;
  height: 13px;
  display: block;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s opacity ease;
  pointer-events: none;
}
.shop_container .sidebar .filter-block .filter-section .filter-title.up .arrow {
  background-image: url("../assets/shop-filters/arrow-up.svg");
}
.shop_container .sidebar .filter-block .filter-section .filter-title.down {
  border-bottom: 1px solid #ebebeb;
}
.shop_container .sidebar .filter-block .filter-section .filter-title.down .arrow {
  background-image: url("../assets/shop-filters/arrow-down.svg");
}
.shop_container .sidebar .filter-block .filter-section:last-of-type > .filter-modification-fields {
  border: none;
}
.shop_container .sidebar .filter-block .filter-section:last-of-type > .filter-title.down {
  border: none;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields {
  padding: 10px 0;
  transition: 0.5s all ease-in-out;
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields.hidden {
  padding: 0;
  height: 0 !important;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields.child-none .item,
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .count-none .item {
  cursor: default !important;
  color: #c4c4c4;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields.child-none .item .title-box .checkbox,
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .count-none .item .title-box .checkbox {
  cursor: default !important;
  border: 1px solid rgba(204, 204, 204, 0.6392156863) !important;
  background-color: #fff !important;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .item-container {
  height: 20px;
  transition: 1s all ease;
  margin-bottom: 12px;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .item-container:last-of-type {
  margin-bottom: 0;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .item-container .item {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .item-container .item:hover .title-box .checkbox {
  background-color: #ccc;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .item-container .item .title-box {
  max-width: 88%;
  display: inline-block;
  padding-left: 35px;
  position: relative;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .item-container .item .title-box .checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border-radius: 2px;
  accent-color: red;
  border: 1px solid #ccc;
  outline: none;
  background-color: #eee;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .item-container .item .title-box .checkbox:checked {
  border: 1px solid #333;
  background-color: #333;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .item-container .item .title-box .checkbox:checked::after {
  width: 5px;
  height: 10px;
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  display: block;
  border: 3px solid #fff;
  border-width: 0 3px 3px 0 !important;
  transform: rotate(45deg);
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .item-container .item .title-box .title {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .item-container .item .products-count {
  margin-left: auto;
  font-size: 14px;
  margin-right: 5px;
  opacity: 0.5;
  line-height: 21px;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .entry-field,
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .submit {
  border: 1px solid #ccc;
  width: 30%;
  height: 32px;
  display: inline-block;
  color: #666;
  border-radius: 3px;
  font-size: 100%;
  text-align: center;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .entry-field::-webkit-inner-spin-button,
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .submit::-webkit-inner-spin-button {
  height: 32px;
  width: 4px;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields > span {
  width: 10%;
  text-align: center;
  display: inline-block;
  font-size: 15px;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .submit {
  width: 25%;
  float: right;
  cursor: pointer;
  margin-left: 5%;
  border-width: 0;
  transition: 0.12s all ease-in-out;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .submit:hover {
  background-color: #dcdcdc;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .multi-range-slider * {
  box-shadow: none;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .multi-range-slider .min-caption,
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .multi-range-slider .max-caption {
  display: none;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .multi-range-slider .thumb::before {
  box-shadow: none;
  border: 1px solid #ccc;
  margin: -7px -12px;
  transition: 0.15s all ease-in;
}
.shop_container .sidebar .filter-block .filter-section .filter-modification-fields .multi-range-slider .thumb:hover::before {
  background-color: #333 !important;
}

.shop_container .products-block {
  width: 76%;
  margin: 0 12px;
}
.shop_container .products-block .header {
  display: flex;
  flex-direction: column;
}
.shop_container .products-block .header .header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.shop_container .products-block .header .header-block .title {
  font-size: 35px;
  margin: 0 10px;
}
.shop_container .products-block .header .header-block .sort-filter {
  display: flex;
}
.shop_container .products-block .header .header-block .sort-filter > span {
  padding: 5px 10px;
  font-size: 15px;
}
.shop_container .products-block .header .selected-filter {
  width: 100%;
  margin: 0 10px 15px;
}
.shop_container .products-block .header .selected-filter .reset-filter {
  padding: 5px 10px !important;
}
.shop_container .products-block .header .selected-filter .reset-filter:hover {
  background-color: #ccc !important;
}
.shop_container .products-block .header .selected-filter .filter {
  cursor: pointer;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  font-size: 15px;
  margin: 4px 8px 4px 0;
  padding: 5px 28px 5px 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  transition: 0.15s all ease-in;
}
.shop_container .products-block .header .selected-filter .filter i {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 17px;
  margin: 5px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid transparent;
  transition: 0.15s all ease-in;
}
.shop_container .products-block .header .selected-filter .filter i::before, .shop_container .products-block .header .selected-filter .filter i::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  width: 1px;
  height: 11px;
  top: 2px;
  left: 7px;
}
.shop_container .products-block .header .selected-filter .filter i::before {
  transform: rotate(45deg);
}
.shop_container .products-block .header .selected-filter .filter i::after {
  transform: rotate(-45deg);
}
.shop_container .products-block .header .selected-filter .filter:hover {
  background-color: #ebebeb;
}
.shop_container .products-block .header .selected-filter .filter:hover i {
  background-color: #ccc;
}
.shop_container .products-block .products {
  display: flex;
  flex-wrap: wrap;
}
.shop_container .products-block .products .card {
  width: 31.03%;
}

.product_container {
  width: 100%;
  background-color: #fff;
  display: flex;
  min-height: 400px;
}
.product_container .product_content {
  align-items: center;
  margin: 12px auto;
  display: flex;
  flex-direction: column;
}
.product_container .product_content .product-info {
  display: flex;
  width: 100%;
}
.product_container .product_content .product-info .product-images {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 12px;
  max-height: 520px;
  position: sticky;
  top: 75px;
}
.product_container .product_content .product-info .product-images .gallery {
  width: 18%;
  height: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product_container .product_content .product-info .product-images .gallery img {
  max-height: 115px;
  max-width: 100%;
  padding: 5px 0;
  margin: 5px 0;
}
.product_container .product_content .product-info .product-images .gallery-slider {
  width: 18%;
  padding: 15px 0;
}
.product_container .product_content .product-info .product-images .gallery-slider .slick-slide div img {
  padding: 10px;
}
.product_container .product_content .product-info .product-images .gallery-slider .slick-arrow {
  width: 20px;
  height: 20px;
  z-index: 10;
}
.product_container .product_content .product-info .product-images .gallery-slider .slick-arrow::before {
  content: "";
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../assets/arrow-up.svg");
}
.product_container .product_content .product-info .product-images .gallery-slider .slick-prev {
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
}
.product_container .product_content .product-info .product-images .gallery-slider .slick-next {
  bottom: -3px;
  top: auto;
  right: 50%;
  transform: rotate(180deg) translateX(-50%);
}
.product_container .product_content .product-info .product-images .image-slider {
  display: flex;
  align-items: center;
  width: 82%;
}
.product_container .product_content .product-info .product-images .image-slider .slick-list .slick-track {
  display: flex;
  align-items: center;
}
.product_container .product_content .product-info .product-images .image-slider .slick-list .slick-slide {
  padding: 0 10px;
  display: flex;
  justify-content: center;
}
.product_container .product_content .product-info .product-images .image-slider .slick-list .slick-slide div img {
  max-height: 540px;
  padding: 20px 0;
}
.product_container .product_content .product-info .product-images .image-slider .slick-arrow {
  width: 35px;
  height: 35px;
  z-index: 10;
  border: 3px solid transparent;
  background-color: rgba(255, 255, 255, 0.5);
}
.product_container .product_content .product-info .product-images .image-slider .slick-arrow::before {
  content: "";
  display: block;
  height: 96%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../assets/arrow-slider.svg");
}
.product_container .product_content .product-info .product-images .image-slider .slick-prev {
  left: -3px;
}
.product_container .product_content .product-info .product-images .image-slider .slick-next {
  right: -3px;
}
.product_container .product_content .product-info .product-images .image-slider .slick-next::before {
  transform: rotate(180deg);
}
.product_container .product_content .product-info .product-details {
  width: 50%;
  margin: 0 12px;
}
.product_container .product_content .product-info .product-details .name {
  font-size: 24px;
  margin: 30px 0;
}
.product_container .product_content .product-info .product-details .vendor-code {
  margin: 20px 0;
  font-size: 15px;
}
.product_container .product_content .product-info .product-details .manufacturer {
  margin: 20px 0;
}
.product_container .product_content .product-info .product-details .price {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.product_container .product_content .product-info .product-details .price span {
  color: #ACACAC;
  text-decoration: line-through;
  font-size: 20px;
  margin-right: 12px;
  font-weight: normal;
}
.product_container .product_content .product-info .product-details .modifications-choose-block .sub {
  display: block;
  margin: 10px 0;
}
.product_container .product_content .product-info .product-details .modifications-choose-block .modifications-choose-line {
  display: flex;
  flex-wrap: wrap;
}
.product_container .product_content .product-info .product-details .modifications-choose-block .modifications-choose-line .product-mdf-color__block {
  width: 40px;
  height: 40px;
}
.product_container .product_content .product-info .product-details .modifications-choose-block .modifications-choose-line .product-mdf-img__wrapper {
  width: 80px;
  height: 80px;
}
.product_container .product_content .product-info .product-details .modifications-choose-block .modifications-choose-line .product-mdf-img__wrapper .product-mdf-img {
  max-height: 100%;
  max-width: 100%;
  padding: 3px;
}
.product_container .product_content .product-info .product-details .modifications-choose-block .modifications-choose-line .product-mdf-txt {
  height: 40px;
  min-width: 50px;
  font-size: 15px;
  text-overflow: ellipsis;
  padding: 10px;
}
.product_container .product_content .product-info .product-details .modifications-choose-block .modifications-choose-line .product-mdf-item {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #666;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: unset;
}
.product_container .product_content .product-info .product-details .modifications-choose-block .modifications-choose-line .product-mdf-item::after {
  content: "";
  display: none;
  width: 23px;
  height: 23px;
  background-size: 12px;
  right: -9px;
  top: -9px;
  background-color: #5f6d92;
  background-image: url("../assets/check-marks.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  border: 1px solid #fff;
}
.product_container .product_content .product-info .product-details .modifications-choose-block .modifications-choose-line .product-mdf-item:hover, .product_container .product_content .product-info .product-details .modifications-choose-block .modifications-choose-line .product-mdf-item.product-mdf-current {
  border-color: transparent;
  outline: 2px solid #5f6d92;
  border-radius: 0;
}
.product_container .product_content .product-info .product-details .modifications-choose-block .modifications-choose-line .product-mdf-item.product-mdf-item-current::after {
  display: block;
}
.product_container .product_content .product-info .product-details .product-buy-block button {
  margin: 5px 0 10px;
  background-color: #5f6d92;
  color: #fff;
  transition: 0.5s linear;
  font-weight: normal;
  padding: 15px;
  text-transform: uppercase;
  width: 50%;
  letter-spacing: 1px;
}
.product_container .product_content .product-info .product-details .product-buy-block button:hover {
  background-color: #4b5673;
}
.product_container .product_content .product-info .product-details .characteristics-block {
  margin: 25px 0;
}
.product_container .product_content .product-info .product-details .characteristics-block .subtitle {
  margin-bottom: 15px;
  font-size: 23px;
}
.product_container .product_content .product-info .product-details .characteristics-block .characteristic {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ebebeb;
}
.product_container .product_content .product-info .product-details .characteristics-block .characteristic .title {
  width: 35%;
  padding: 5px 0;
  font-weight: bold;
  display: inline-block;
  font-size: 15px;
}
.product_container .product_content .product-info .product-details .characteristics-block .characteristic .body {
  width: 60%;
  margin-left: 10px;
  padding: 5px 0;
  display: inline-block;
  font-size: 15px;
}
.product_container .product_content .product-info .product-details .description {
  margin: 10px 0;
}
.product_container .product_content .product-info .product-details .description .short-description-container,
.product_container .product_content .product-info .product-details .description .add-info-container {
  padding: 0 3px;
  border-bottom: 1px solid #ebebeb;
}
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-header,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-header,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-header,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-header {
  font-size: 15px;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
}
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-header::after,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-header::after,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-header::after,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-header::after {
  top: 7px;
  right: 8px;
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  color: #5f6d92;
}
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-header.down,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-header.down,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-header.down,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-header.down {
  font-weight: normal;
}
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-header.down::after,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-header.down::after,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-header.down::after,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-header.down::after {
  content: "+";
}
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-header.up,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-header.up,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-header.up,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-header.up {
  font-weight: bold;
}
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-header.up::after,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-header.up::after,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-header.up::after,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-header.up::after {
  content: "-";
}
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-content,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-content,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-content,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-content {
  margin: 10px 0 25px 0;
  overflow: hidden;
  transition: 0.4s all ease-in-out;
}
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-content.hidden,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-content.hidden,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-content.hidden,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-content.hidden {
  margin: 0;
  height: 0 !important;
}
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-content .short-description-item,
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-content .title,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-content .short-description-item,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-content .title,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-content .short-description-item,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-content .title,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-content .short-description-item,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-content .title {
  font-size: 15px;
  margin: 20px 0;
  line-height: 25px;
}
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-content .short-description-item:first-child,
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-content .title:first-child,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-content .short-description-item:first-child,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-content .title:first-child,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-content .short-description-item:first-child,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-content .title:first-child,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-content .short-description-item:first-child,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-content .title:first-child {
  margin-top: 0;
}
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-content .short-description-item:last-child,
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-content .title:last-child,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-content .short-description-item:last-child,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-content .title:last-child,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-content .short-description-item:last-child,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-content .title:last-child,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-content .short-description-item:last-child,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-content .title:last-child {
  margin-bottom: 0;
}
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-content ul,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-content ul,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-content ul,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-content ul {
  padding-left: 20px;
}
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-content ul .add-info-item,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-content ul .add-info-item,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-content ul .add-info-item,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-content ul .add-info-item {
  position: relative;
  list-style-type: none;
  padding-left: 33px;
  line-height: 25px;
}
.product_container .product_content .product-info .product-details .description .short-description-container .short-description-content ul .add-info-item::before,
.product_container .product_content .product-info .product-details .description .short-description-container .add-info-content ul .add-info-item::before,
.product_container .product_content .product-info .product-details .description .add-info-container .short-description-content ul .add-info-item::before,
.product_container .product_content .product-info .product-details .description .add-info-container .add-info-content ul .add-info-item::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-size: 11px;
  background-color: #5f6d92;
  background-image: url("../assets/check-marks.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #fff;
}

.buyers {
  align-self: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.buyers .title {
  padding: 0 15px;
  margin: 30px 0;
  font-size: 35px;
}
.buyers .card__wrapper {
  display: flex;
}
.buyers .card__wrapper .card-buyers {
  margin: 0 15px 30px;
  max-width: 31%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: 1s all ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: inherit;
  text-decoration: none;
}
.buyers .card__wrapper .card-buyers .card-name {
  padding: 20px 25px;
  font-size: 17px;
}
.buyers .card__wrapper .card-buyers .card-name .btn-arrow {
  font-size: 23px;
  margin-left: 15px;
  margin-top: -3px;
  transition: 1s all ease;
}
.buyers .card__wrapper .card-buyers:hover {
  transform: translateY(-3px);
  cursor: pointer;
}
.buyers .card__wrapper .card-buyers:hover .card-name .btn-arrow {
  margin-left: 25px;
}

.about,
.shipping-and-payment {
  align-self: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.about .title,
.shipping-and-payment .title {
  margin: 30px 0;
  font-size: 35px;
}
.about .about_content .subtitle,
.about .shipping-and-payment_content .subtitle,
.shipping-and-payment .about_content .subtitle,
.shipping-and-payment .shipping-and-payment_content .subtitle {
  font-size: 21px;
  margin: 15px 0;
  display: inline-block;
}
.about .about_content p,
.about .shipping-and-payment_content p,
.shipping-and-payment .about_content p,
.shipping-and-payment .shipping-and-payment_content p {
  margin: 12px 0;
  font-size: 16px;
  line-height: 28px;
}
.about .about_content ul,
.about .shipping-and-payment_content ul,
.shipping-and-payment .about_content ul,
.shipping-and-payment .shipping-and-payment_content ul {
  padding-left: 20px;
}
.about .about_content ul .item,
.about .shipping-and-payment_content ul .item,
.shipping-and-payment .about_content ul .item,
.shipping-and-payment .shipping-and-payment_content ul .item {
  position: relative;
  list-style-type: none;
  padding-left: 33px;
  line-height: 25px;
  margin: 5px 0;
}
.about .about_content ul .item::before,
.about .shipping-and-payment_content ul .item::before,
.shipping-and-payment .about_content ul .item::before,
.shipping-and-payment .shipping-and-payment_content ul .item::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-size: 11px;
  background-color: #5f6d92;
  background-image: url("../assets/check-marks.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #5f6d92;
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #e5e5e5;
  box-shadow: 0px 0px 3px #ffffff inset;
}

#root {
  background-color: #f5f5f5;
  font-family: Roboto, sans-serif;
  color: #333333;
}

.app {
  display: flex;
  flex-direction: column;
}

.row {
  width: 1200px;
  display: flex;
}/*# sourceMappingURL=App.css.map */