.simple-slider button.slick-arrow {
  display: none !important;
}
.simple-slider .slider-item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: 450px;
}
.simple-slider .slider-item .slider-item__bcg {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  position: relative;
}
.simple-slider .slider-item .slider-item__bcg .slider-info {
  display: flex;
  flex-direction: column;
  width: 418px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
}
.simple-slider .slider-item .slider-item__bcg .slider-info .head-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 24px;
}
.simple-slider .slider-item .slider-item__bcg .slider-info .title {
  color: #fff;
  line-height: 25px;
}
.simple-slider #slide-1 {
  background-image: url("../assets/slider/slider-01.jpg");
}
.simple-slider #slide-2 {
  background-image: url("../assets/slider/slider-02.jpg");
}
.simple-slider .slick-dots {
  bottom: 30px !important;
}
.simple-slider .slick-dots li {
  margin: 0 3px;
}
.simple-slider .slick-dots li.slick-active button:before {
  background-color: #fff;
  opacity: 1 !important;
}
.simple-slider .slick-dots li button:before {
  width: 10px !important;
  height: 10px !important;
  color: transparent !important;
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5 !important;
}
.simple-slider .slick-dots li button:hover:before {
  opacity: 1 !important;
}

.category {
  width: 1200px;
  align-self: center;
  margin: 50px 0;
}
.category .title {
  font-size: 30px;
  text-align: center;
  margin: 30px 0;
}
.category .slick-slider .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.5s ease-out;
  background-color: #fff;
}
.category .slick-slider .slick-arrow::before {
  content: "";
  display: block;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../assets/category_slider/slider_btn.svg");
}
.category .slick-slider .slick-arrow:hover {
  background-color: #cccccc;
}
.category .slick-slider .slick-prev {
  left: 25px;
}
.category .slick-slider .slick-prev::before {
  transform: rotate(180deg);
}
.category .slick-slider .slick-next {
  right: 22px;
}
.category .slick-slider .slick-slide > div {
  margin: 0 20px;
}
.category .slick-slider .card {
  height: 350px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}
.category .slick-slider .card .card-title {
  padding: 25px 55px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  transition: all 1s ease;
}
.category .slick-slider .card .card-img {
  position: absolute;
  width: 100%;
  background-size: 100%;
  margin-top: 50px;
  transition: all 0.85s ease;
}
.category .slick-slider .card:hover > .card-title {
  opacity: 0;
}
.category .slick-slider .card:hover > .card-img {
  margin-top: -30px;
}

.discounts {
  height: 430px;
  margin: 30px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../assets/discounts/accessories.jpg");
}
.discounts .discounts__bcg {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discounts .discounts__bcg .discounts-info {
  text-align: center;
}
.discounts .discounts__bcg .discounts-info .title {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
}

.catalog {
  width: 1200px;
  margin-top: 50px;
  align-self: center;
  padding: 0 20px;
}
.catalog .title {
  font-size: 30px;
  text-align: center;
  margin: 30px 0;
}
.catalog .slick-slider .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.5s ease-out;
  background-color: #fff;
}
.catalog .slick-slider .slick-arrow::before {
  content: "";
  display: block;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../assets/category_slider/slider_btn.svg");
}
.catalog .slick-slider .slick-arrow:hover {
  background-color: #cccccc;
}
.catalog .slick-slider .slick-prev {
  left: 25px;
}
.catalog .slick-slider .slick-prev::before {
  transform: rotate(180deg);
}
.catalog .slick-slider .slick-next {
  right: 22px;
}
.catalog .slick-slider .slick-slide {
  padding: 25px 15px;
}
.catalog .slick-slider .card {
  min-height: 385px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.catalog .slick-slider .card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}
.catalog .slick-slider .card:hover > .hidden-block {
  visibility: visible;
  padding: 0 10px;
}
.catalog .slick-slider .card:hover .main-img {
  opacity: 0 !important;
}
.catalog .slick-slider .card:hover .additional-img {
  opacity: 1 !important;
}
.catalog .slick-slider .card .visible-block {
  height: 100%;
  background-color: #fff;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.catalog .slick-slider .card .visible-block .card-img {
  width: 85%;
  transition: 0.25s opacity ease-in;
}
.catalog .slick-slider .card .visible-block .card-img.main-img {
  opacity: 1;
}
.catalog .slick-slider .card .visible-block .card-img.additional-img {
  opacity: 0;
  position: absolute;
}
.catalog .slick-slider .card .visible-block .card-title {
  padding: 15px 0;
  font-size: 15px;
}
.catalog .slick-slider .card .visible-block .card-price {
  padding: 15px 0;
  font-weight: bold;
}
.catalog .slick-slider .card .hidden-block {
  background-color: #fff;
  visibility: hidden;
  padding-bottom: 4px !important;
  width: 100%;
}
.catalog .slick-slider .card .hidden-block .modifications-choose-line {
  display: flex;
  flex-wrap: wrap;
}
.catalog .slick-slider .card .hidden-block .modifications-choose-line .product-mdf-img__wrapper {
  width: 50px;
  height: 50px;
}
.catalog .slick-slider .card .hidden-block .modifications-choose-line .product-mdf-img__wrapper .product-mdf-img {
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2px;
}
.catalog .slick-slider .card .hidden-block .modifications-choose-line .product-mdf-txt {
  height: 30px;
  min-width: 50px;
  font-size: 11px;
  text-overflow: ellipsis;
  padding: 7px;
}
.catalog .slick-slider .card .hidden-block .modifications-choose-line .product-mdf-item {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid #666;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: unset;
}
.catalog .slick-slider .card .hidden-block .modifications-choose-line .product-mdf-item::after {
  content: "";
  display: none;
  width: 18px;
  height: 18px;
  background-size: 8px;
  right: -8px;
  top: -8px;
  background-color: #5f6d92;
  background-image: url("../assets/catalog/check-marks.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  position: absolute;
  border: 1px solid #fff;
}
.catalog .slick-slider .card .hidden-block .modifications-choose-line .product-mdf-item:hover, .catalog .slick-slider .card .hidden-block .modifications-choose-line .product-mdf-item.product-mdf-item-current {
  border-color: transparent;
  outline: 2px solid #5f6d92;
  border-radius: 0;
}
.catalog .slick-slider .card .hidden-block .modifications-choose-line .product-mdf-item.product-mdf-item-current::after {
  display: block;
}
.catalog .slick-slider .card .product-buy-block button {
  margin: 6px 0 !important;
  width: 100%;
  background-color: #5f6d92;
  color: #fff;
  transition: 0s !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #5f6d92;
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #e5e5e5;
  box-shadow: 0px 0px 3px #ffffff inset;
}

#root {
  background-color: #f5f5f5;
  font-family: Roboto, sans-serif;
  color: #333333;
}

.app {
  display: flex;
  flex-direction: column;
}

.row {
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}/*# sourceMappingURL=App.css.map */