.search__container {
    width: 375px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
}

.search__container::after {
    content: '';
    width: 18px;
    height: 18px;
    right: 10px;
    position: absolute;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../assets/search.svg');
}

.search {
    border: none;
    outline: none;
    font-size: 15px;
    color: #333;
    width: 94%;
}

.search::placeholder {
    font-size: 15px;
    color: rgba(128, 128, 128, 0.4);
}

.search::-webkit-search-cancel-button { display: none; }

.search:focus + div {
    display: block;
}