.header__wrapepr {
    width: 100%;
    min-height: 80px;
    background-color: #5f6d92;
    display: flex;
    padding: 15px 0;
}

.header__wrapepr .header__content {
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__wrapepr .header__content > * {
    padding-right: 10px;
}

.header__wrapepr .header__content .logo {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 2px;
}

.header__wrapepr .header__content .auth {
    color: #fff;
    width: 100px;
    font-size: 14px;
    transition: 1s all ease-in-out;
    cursor: pointer;
    opacity: 1;
    position: relative;
    text-align: center;
}

.header__wrapepr .header__content .auth::before {
    content: '';
    background-image: url('../../../assets/header/icon/login.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 4px;
}

.header__wrapepr .header__content .auth:hover {
    opacity: .8;
}